body{
    background-image: url(img/fon1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}
*{
    padding: 0;
    margin: 0;
}
menu{
    margin: 10px 20px;
    position: absolute;
    background: rgba(19, 86, 103, 0.49);
    padding: 20px;
    border-radius: 30px;
}
.home{
    display: block;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.6;
}
.home:visited{
    color: #fff;
}
.home:hover{
    color: #000;
}
.home:active{
    color: #fff;
}
.ukulele{
    position: absolute;
    width: 7%;
    left: 85%;
    margin-top: 20px;
}
main{
    font-family: 'Merriweather', serif;
    margin: 30px 25%;
    position: relative;
    background: rgba(40, 129, 154, 0.29);
    padding: 20px;
    border-radius: 30px;
    line-height: 1.7;
}
h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.anime{
    text-decoration: none;
    display: inline-block;
    color: #73088d;
}
.anime:visited{
    color: #73088d;
}
.anime:hover{
    color: #171a67;
    background-color: rgba(214, 225, 195, 0.31);
    text-decoration-line: underline;
}
.anime:active{
    color: #fff;
}
.ava{
    margin: 20px auto;
    display: block;
    border-radius: 30px;
    padding-top: 10px;
}
h2{
    margin-top: 20px;
    margin-bottom: 10px;
}